<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Resources:</strong>
  <%= @idea.resources %>
</p>

<p>
  <strong>Inspiration:</strong>
  <%= @idea.inspiration %>
</p>

<p>
  <strong>Image:</strong>
  <%= @idea.image %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @idea.user.fullname %>
</p>

<% if current_user && current_user == @idea.user%>
  <%= link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_idea_path(@idea) %> |
<% end %>

<%= link_to 'Back', ideas_path %>
